[user]
	name = lewisliu
	email = 1226228799@qq.com
[core]
	compression = 0
	quotepath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
